@model asp_mvc.Models.MovieModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <ul>
        <li>@Model.Name</li>
        <li>@Model.Image</li>
    </ul>
</body>
</html>