@model IEnumerable<asp_mvc.Models.Show>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div style="overflow-x:scroll; overflow-y:hidden; white-space:nowrap; justify-content:center; display:flex">
        <div style="display: inline-flex">
        @foreach (asp_mvc.Models.Show s in Model)
        {
            <div style="display:inline-flex; margin:5px">
                <a href="~/Show/Details/@s.Id"><img src="~/images/placeholder.png" height="200" width="240" /></a>
            </div>
        }
        </div>

    </div>


    <div style="justify-content:center; display:flex; max-width:100%">
        <div class="flex-child">
            <h3>Genres: @ViewBag.counts[0]</h3>
            <a class="btn btn-primary" href="~/Genre/ListAll">List of all genres</a>
            <br>
            <a href="~/Genre/AddNew">add new</a>
        </div>
        <div class="flex-child">
            <h3>Movies: @ViewBag.counts[1]</h3>
            <a class="btn btn-primary" href="~/Movie/ListAll">List of all movies</a>
            <br>
            <a href="~/Movie/AddNew">add new</a>
        </div>
        <div class="flex-child">
            <h3>Shows: @ViewBag.counts[2]</h3>
            <a class="btn btn-primary" href="~/Show/ListAll">List of all shows</a>
            <br>
            <a href="~/Show/AddNew">add new</a>
        </div>

    </div>

</body>
</html>
