@model ecinema.Models.MovieModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie form</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success" style="margin: 20px">
        <div class="panel-heading text-center"><h4>Add new movie</h4></div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="AddMovie" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Movie name:</label>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description:</label>
                    <input class="form-control" asp-for="Description" />
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label>Movie genre:</label>
                    <select class="form-control" asp-for="GenreId">
                        @foreach (ecinema.Models.Genre g in ViewBag.Genres)
                        {
                            <option value=@g.Id>@g.Name</option>
                        }
                    </select>
                    <span asp-validation-for="GenreId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country">Origin country:</label>
                    <input class="form-control" asp-for="Country" />
                    <span asp-validation-for="Country"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Restriction">Age restriction</label>
                    <input class="form-control" asp-for="Restriction" />
                    <span asp-validation-for="Restriction"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image">Image</label>
                    <input type="file" id="Image" accept=".jpg, .jpeg, .png, .webp" name="Image" class="form-control" asp-for="Image" formenctype="multipart/form-data">
                    <span asp-validation-for="Image"></span>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Submit movie
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

