@model IEnumerable<ecinema.Models.Genre>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Genres</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body" style="margin: 20px">
        <h4>Here is the list of all genres</h4>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ecinema.Models.Genre g in Model)
                {
                    <tr>
                        <td>@g.Name</td>
                        <td>@g.Description</td>
                        <td>@g.Id</td>
                        <td>
                            <form action="~/Genre/Delete/@g.Id" method="post">
                                <input type="submit" value="Delete" />
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <h5><a href="~/Genre/AddGenre">add new</a> | <a href="~/Home/Index">home</a></h5>
    </div>
</body>
</html>